{% extends "base.html" %}

{% block title %}
SafeVesting - Invest
{% endblock %}

{% block content %}
<section>
    <h1>Find the right investment</h1>
    <div>
        {% for product in products %}
            <article>
                <h2>
                    {{ product.name }}
                </h2>
                <p>
                    Type: {{ product.type }}
                </p>
                <p>
                    Interest rate:
                    {{ product.interest_rate }}
                </p>
                <p>
                    Term:
                    {{ product.term}}
                </p>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}